li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  width: 95%;
  margin: 3rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 1em;
}

ul {
  width: 90%;
  margin: auto;
  padding: 0;
  font-size: 20px;
}

.strike-through {
  text-decoration: line-through;
  text-decoration-color: rgb(251, 247, 247);
  text-decoration-thickness: 8%;
}
