#root {
  margin: 0 auto;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.task-list-heading {
  font-size: 1.8rem;
  margin: 0;
}

.tasks-container {
  width: 90% !important;
  margin: 0 auto !important;
  overflow-y: scroll !important;
  height: 25rem;
}

@media only screen and (max-width: 600px),
  only screen and (max-width: 768px),
  only screen and (max-width: 992px) {
  section {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
}

